<form>
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputName">Name</label>
      <input
        type="text"
        class="form-control"
        id="inlineFormInputName"
        placeholder="Jane Doe"
        #nameInput
      />
    </div>
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
      <input
        type="text"
        class="form-control"
        id="inlineFormInputGroupUsername"
        placeholder="Username"
        #amountInput
      />
    </div>
    <div class="col-auto my-1"></div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary" (click)="onAddItem()">Add Item</button>
    </div>
  </div>
</form>
